@import '~bootstrap/scss/bootstrap-grid.scss';
@import '../../styles/variables';

.details {
    padding: 32px;

    .section {
        margin-bottom: 32px;
        .section-heading {
            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }

        .skills-list {
            padding-left: 16px;
        }

        .experience {
            h3 {
                color: gray;
                font-weight: normal;
            }

            .company-name {
                color: black;
                font-weight: bold;
            }

            .position {
                color: $primary-theme-color;
            }

            .duration {
                color: gray;
                line-height: 2rem;
                margin-bottom: 0.5rem;
                display: block;
            }
        }
    }
}
