@import './variables';

body {
    background: url('../images/page-background.png');
}
em {
    color: $primary-theme-color;
    font-style: normal;
}

h2 {
    line-height: 1.5rem;
}
h3 {
    line-height: 1.5rem;
}
